body{
	background-color: #F2F2F3;
	text-align: center;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
#body{
	height: 600px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	background: url(../world_map.png) no-repeat center;
}
h1{
	padding-top: 55px;
}
h3{
	padding-top: 20px;
}
h5{
	padding-top: 190px;
}
input {
	width: 240px;
	height: 30px;
	line-height: 30px;
	font-size: 1.3em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.button {
	margin-top: 10px;
	width: 240px;
	line-height: 33px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background-color: rgb(38,40,69);
	border: 2px rgb(38,40,69) solid;
	text-decoration: none;
   	vertical-align: middle;
}
.button:hover {
   	border-top-color: #28597a;
   	background: #28597a;
   	color: #ccc;
	cursor: pointer;
}
.button:active {
   	border-top-color: #1b435e;
   	background: #1b435e;
}